
html, body, #app-root, #client-mount, #content, #layout {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {  background: black; }
.desktop .column { width: 50%; float: left; height: 100%; overflow: auto; box-sizing: border-box; }
.mobile .column { width: 100%; height: 100%; overflow: auto; box-sizing: border-box; }
#input, #output { width: 100%; box-sizing: border-box; }
#sidebar, #output { font-family: Open Sans, Helvetica Neue, Helvetica, Arial; }
#output { padding: 0 20px; }
#input {
	font-size: 16px;
	height: 100%;
}
.CodeMirror {
	background: transparent;
	color: #eee;
	height: 100%;
	font-family: Inconsolata, Courier New, monospace;
	padding: 10px 15px;
}
#input, #output { display: block; }
#output pre {
	border-radius: 6px;
  background: #ddd;
  border: 1px solid #ccc;
  padding: 10px 15px;
}
.is_current { background: #ded; }
.cm-hr {
  border: none !important;
  color: #aaa !important;
  display: inline !important;
}
h1,h2,h3,h4,h5,h6 { margin-top: 1.4em; }
h1,h2,h3,h4,h5,h6 { margin-bottom: 0em; }
#output { padding-bottom: 25px; }
#app-root.with-sidebar #sidebar {
  left: 0;
}
#content {
  transition: opacity linear 0.1s;
}
#app-root.with-sidebar #content { opacity: 0.6; }
#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background: #eee;
  z-index: 100;
  overflow-y: auto;
  transition: left linear 0.1s;
}
#sidebar h1 {
  font-weight: 300;
  margin: 20px 20px 20px;
}
#sidebar-pages, #sidebar-pages li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.delete {
  float: right;
  font-weight: bold;
  opacity: 0.5;
  font-size: 20px;
  display: none;
  margin: -10px -10px 0 0;
  padding: 6px 10px;
  text-align: center;
}
#sidebar-pages li a {
  display: block;
  border: 1px solid #bbb;
  border-width: 1px 0;
  margin-bottom: -1px;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
}
#sidebar-pages li a:hover .delete {
  display: block;
}
#sidebar-pages li a:hover {
  background: white;
  cursor: pointer;
}

#output-column {
	background: #eee;
	word-wrap: break-word;
}

.column, #sidebar {
overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

code, pre, tt, kbd {
	white-space: pre-wrap;
}
